
.wrapper {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 2em;
}
label {
    font-size: 1em;
}
img {
    width: 90%;
}

@media (min-width: 720px) {
    .wrapper {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        font-size: 2em;
    }
    label {
        font-size: 1em;
    }
    img {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        font-size: 3em;
    }
    label {
        font-size: 1.5em;
    }
    img {
        width: 50%;
    }
}

    

 

.accordion-item {
    position: relative;

}
.accordion-item-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
}
.accordion-item-trigger {
    padding: 2em 0 2em 0;
}
.accordion-item-content {
    text-align: center;
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;
}
.accordion {
    color: orange;
}
    .accordion:hover {
        color: black;
    }

.accordion-item-input:hover ~ .accordion-item-content {
    max-height: 30em;
    padding: 20px;
}
.accordion-item-input:hover ~ label {
    color: black;
    
}

.accordion-item-input:checked ~ .accordion-item-content {
    display: block;
    max-height: 30em;
    padding: 20px;
}
.accordion-item-input:checked ~ label {
    color: black;
}


img.icon {
    display: inline-block;
    text-align: right;
    width: 1em;
    transition: 0.4s;
}
.accordion-item-input:hover ~ .label-and-icon .icon {
    transform: rotate(90deg);
}
.accordion-item-input:checked ~ .label-and-icon .icon {
    transform: rotate(90deg);
}

h1, label {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-weight: 900;
}
label {
    display: block;
}
.label-and-icon {
    border-top: 2px solid lightgray;
    display: flex;
    justify-content: space-between;
}
div {
    cursor: pointer;
}