
.wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.accordion-item {
    position: relative;
}
.accordion-item-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.accordion-item-trigger {
    display: block;
    padding: 20px 20px 20px 0px;
    border-top: 2px solid lightgray;
}
.accordion-item-content {
    padding: 20px;
    text-align: center;
    display: none;
}


.accordion-item-input:checked ~ .accordion-item-trigger {}
.accordion-item-input:checked ~ .accordion-item-content {
    display: block;
}

img {
    width: 50%;
}

h1, label {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-weight: 900;
    font-size: 220%;
}